# Ingore content in shared docker volume folders
src/
db/

# Ignore 
dev/Scripts/Remote/Init-WP-Repo.sh
dev/Scripts/Remote/post-receive

# Ignore remote and local backups
dev/Backups/

# Ignore sensitive configuration information
local.config

dev/Scripts/Remote/*
!dev/Scripts/Remote/TemplateScripts

Notes.txt