# Ingore content in shared docker volume folders
src/
db/

# Ignore 
Wordpress/dev/Scripts/Remote/Init-WP-Repo.sh
Wordpress/dev/Scripts/Remote/post-receive

# Ignore remote and local backups
WordPress/dev/Backups/

# Ignore sensitive configuration information
local.config

Wordpress/dev/Scripts/Remote/*
!Wordpress/dev/Scripts/Remote/TemplateScripts